html {
  font-size: 30px;
}

body {
  background-color: #d1c3c3;
  color: rgb(33, 33, 64);
  font-family: sans-serif;
  margin: 0;
  padding: 40px;
  text-align: center;
}

h1 {
  margin: 0;
  padding 0;
}

h1 + h1 {
  margin-top: 3px;
  margin-bottom: 40px;
}

.ehr-entry {
  text-align: center;
}

.ehr-name {
  font-size: 1.5rem;
  line-height: 1;
}

.logo {
  width: 160px;
  height: 160px;
  margin-top: -20px;
  padding-bottom: 10px;
  cursor: pointer;
}
.logo-container {
  text-align: center;
  margin: 0 auto;
}

.cr-button{
 font-size: 0.5rem;
}



