   <style>
        html {
            font-size: 20px;
        }
        body {
            background-color: #d1c3c3;
            color:rgb(33, 33, 64);
           font-family: sans-serif;
           text-align: center;
        }
        .right-align {
            text-align: right;
        }
        .spaced {
            margin-top: 100px;
        }
        .center-align {
            text-align: center;
            font-size: 3rem; /* 60px */ 
        }
        .logo {
            vertical-align: middle;
            margin-left: 10px;
            cursor: pointer;
        }
        .center-logo {
            display: flex;
            align-items: center; 
            justify-content: center;
            gap: 20px;
            margin-top: 40px;
        } 
        .ehr-name {
           font-size: 2.5rem;
           display: inline-block;
           vertical-align: middle;
           margin: 0;
        
    </style>
