/* set base font size for the HTML document */
html {
  font-size: xx-large;
}

/* Style the body of the page */
body {
  background-color: #c5d0e8; /* Sets background color */
  color: rgb(33, 33, 64); /* Sets text color */
  font-family: serif; /* Sets font */
  margin: 0; /* removes default margin */
  padding: 40px; /* Adds space around the content */
  text-align: center; /* aligns all text inside the body */
}

/* Style all <h1> headings */
h1 {
  margin: 0;
  padding: 0;
  font-family: serif;
}

/* Style for the name of the EHR */
h1 + h1 {
  margin-top: 3px;
  margin-bottom: 30px;
}

/* container for each EHR entry */
.ehr-entry {
  text-align: center;
}

/* Style for the name of the EHR */
.ehr-name {
  font-size: 1.5rem;
  line-height: 1;
}

/* Style the logo images */
.cr-logo, 
.en-logo,
.rbh-logo {
  width: 160px;
  height: 160px;
  margin-top: 0px;
  padding-bottom: 10px;
  border-radius: 30px;
  border: 2px solid black;
  cursor: pointer;
}

/* Hover effect for the .cr-button */
.cr-button,
.en-button,hover {
  background-color: #003060; /* sets the color when hovered */
}

/* align the logo using this container */
.cr-logo-container, 
.en-logo-container,
.rbh-logo-container { 
  text-align: center;
  margin: 0 auto;
}

/* Style the button that links to CentralReach Careers */
.cr-button, 
.en-button,
.rbh-button {
  font-size: 0.5rem;
  background-color: #7b89ac;
  color: white;
  padding: 5px 12px;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.en-logo-container, 
.rbh-logo-container {
  margin-top: 45px;
}






